[defaults]
inventory         = inventory/hosts.ini
vault_password_file = ~/.ansible_vault_pass.txt
host_key_checking = False      
stdout_callback   = yaml      
forks             = 10             # run tasks on 10 hosts in parallel instead of 5
gathering         = smart       

[privilege_escalation]
become        = True
become_method = sudo
become_user   = root

[ssh_connection]
pipelining    = True               # speeds up SSH by skipping temp file writes
ssh_args      = -o ControlMaster=auto -o ControlPersist=60s  # for connection reuse
